<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ромашка</title>


    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-pro.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

  </head>
  <body>
    <div id="preloader">
      <div class="loader_line"></div>
    </div>

    <header class="position-absolute w-100 text-white">
      <div class="container">
        <div class="logo">
          <a href="#home">info@<span class="text-primary">bg2b.ru</span></a>
        </div>
        <ul class="menus">
          <li class="current"><a href="#services">Услуги</a></li>
          <li><a href="#portfolio">Команда</a></li>
          <li><a href="#blog">Проекты</a></li>
          <li><a href="#contact">Контакты</a></li>
        </ul>

        <ul class="menus">
            <a href="#home">+123456789 <span class="text-primary">Телефон</span></a>
        </ul>
        <div class="toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </header>
    <section id="home" class="text-white bg-hero-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-12">
            <h1>ФИНАНСОВАЯ КОРПОРАЦИЯ РОМАШКА</h1>
            <p class="short-bio">
              Наша компания работает на рынке банковских гарантий более 12 лет.
              Наш опыт - ваше преимущество.
            </p>
            <a href="#contact" class="cf-btn"> Свяжитесь с нами </a>
            <div class="counter d-flex align-center content-space-between">
              <div class="experence">
                <h2><span class="count">12</span>+</h2>
                <p class="font-20px">Лет опыта</p>
              </div>
              <div class="project">
                <h2><span class="count">2500</span>+</h2>
                <p class="font-20px">гарантий выдано</p>
              </div>
              <div class="clients">
                <h2><span class="count">500</span>+</h2>
                <p class="font-20px">Счастливых клиентов</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="hero-right">
              <div class="hero-right-bg"></div>
              <img src="/static/assets/images/author/masha.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="extra-bg"></div>
    </section>
    <section id="services">
      <div class="container">
        <div class="section-title">
          <p class="sub-title">Услуги</p>
          <h2>
            Что мы предлагаем  <br />
            нашим клиентам
          </h2>
        </div>
        <div class="card-container">
          <div class="row">
            <div class="col-md-6 col-xl-4">
              <div class="service-card">
                <div class="icon-container">
                  <img src="/static/assets/icons/uiux.svg" class="svg" alt="" />
                </div>
                <h3>Банковские гарантии 44 ФЗ</h3>
                <p>
                  На участие, исполнение, возврат аванса, гарантийный период.
                  44-ФЗ
                </p>
                <a href="#services_1" class="link"></a>
              </div>

              <div class="mfp-fade mfp-hide" id="services_1">
                <div class="content">
                  <div class="img">
                    <img src="/static/assets/images/services/1.jpg" alt="" />
                  </div>
                  <div class="des">
                    <h4>Банковские гарантии 44-ФЗ</h4>
                    <p class="price">44-ФЗ<span></span></p>
                    <p>
                      Мы компетентны браться за самые
                       тяжелые случаи: <br />
                      - Срок деятельности компании меньше 3ёх месяцев
                      <br />
                      - Отсутствие сопоставимого контрактного опыта
                      <br />
                      - При наличии действующих исполнительных производств и арбитражей
                      <br />
                      - Негативная кредитная история и финансовая отчётность
                      <br />
                      - Валютные контракты и закрытые закупки
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="service-card">
                <div class="icon-container">
                  <img src="/static/assets/icons/web_dev.svg" class="svg" alt="" />
                </div>
                <h3>Банковские гарантии 223 ФЗ</h3>
                <p>
                  На исполнение контракта. На пополнение оборотных средств. Финансирование
                  текущей деятельности. Кредитование собственников бизнеса. Рефинансирование.
                </p>
                <a href="#services_2" class="link"></a>

                <div class="mfp-fade mfp-hide" id="services_2">
                  <div class="content">
                    <div class="img">
                      <img src="/static/assets/images/services/2.jpg" alt="" />
                    </div>
                    <div class="des">
                      <h4>Банковские гарантии 223 ФЗ</h4>
                      <p class="price">223 ФЗ<span></span></p>
                      <p>
                        Мы осуществляем кредитование любой сложности и любой сферы бизнеса.
                        Экспертность и индивидуальный подход для каждого клиента.

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="service-card">
                <div class="icon-container">
                  <img
                    src="/static/assets/icons/S1.svg"
                    class="svg"
                    alt=""
                  />
                </div>
                <h3>Банковские гарантии 615 ПП</h3>
                <p>
                  Легковой и коммерческий транспорт.
                  Грузовой транспорт и спецтехника.
                  Высокотехнологичное оборудование.

                </p>
                <a href="#services_3" class="link"></a>

                <div class="mfp-fade mfp-hide" id="services_3">
                  <div class="content">
                    <div class="img">
                      <img src="/static/assets/images/services/3.jpg" alt="" />
                    </div>
                    <div class="des">
                      <h4>Банковские гарантии 615 ПП</h4>
                      <p class="price">615 ПП <span></span></p>
                      <p>
                        Мы сформируем выгодные предложения от проверенных поставщиков.
                        Наши дилеры и производители предлагают скидки на авто и технику в лизинг.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="card-container">
          <div class="row">
            <div class="col-md-6 col-xl-4">
              <div class="service-card">
                <div class="icon-container">
                  <img src="/static/assets/icons/uiux.svg" class="svg" alt="" />
                </div>
                <h3>Коммерческие банковские гарантии</h3>
                <p>
                  На участие, исполнение, возврат аванса, гарантийный период.

                </p>
                <a href="#services_1" class="link"></a>
              </div>

              <div class="mfp-fade mfp-hide" id="services_1">
                <div class="content">
                  <div class="img">
                    <img src="/static/assets/images/services/1.jpg" alt="" />
                  </div>
                  <div class="des">
                    <h4>Банковские гарантии</h4>
                    <p class="price">Коммерция. <span></span></p>
                    <p>
                      Мы компетентны браться за самые
                       тяжелые случаи: <br />
                      - Срок деятельности компании меньше 3ёх месяцев
                      <br />
                      - Отсутствие сопоставимого контрактного опыта
                      <br />
                      - При наличии действующих исполнительных производств и арбитражей
                      <br />
                      - Негативная кредитная история и финансовая отчётность
                      <br />
                      - Валютные контракты и закрытые закупки
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="service-card">
                <div class="icon-container">
                  <img src="/static/assets/icons/web_dev.svg" class="svg" alt="" />
                </div>
                <h3>Кредитование</h3>
                <p>
                  На исполнение контракта. На пополнение оборотных средств. Финансирование
                  текущей деятельности. Кредитование собственников бизнеса. Рефинансирование.
                </p>
                <a href="#services_2" class="link"></a>

                <div class="mfp-fade mfp-hide" id="services_2">
                  <div class="content">
                    <div class="img">
                      <img src="/static/assets/images/services/2.jpg" alt="" />
                    </div>
                    <div class="des">
                      <h4>Кредитование</h4>
                      <p class="price">Все виды кредитования ЮЛ.<span></span></p>
                      <p>
                        Мы осуществляем кредитование любой сложности и любой сферы бизнеса.
                        Экспертность и индивидуальный подход для каждого клиента.

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="service-card">
                <div class="icon-container">
                  <img
                    src="/static/assets/icons/product_desginer.svg"
                    class="svg"
                    alt=""
                  />
                </div>
                <h3>Лизинг</h3>
                <p>
                  Легковой и коммерческий транспорт.
                  Грузовой транспорт и спецтехника.
                  Высокотехнологичное оборудование.

                </p>
                <a href="#services_3" class="link"></a>

                <div class="mfp-fade mfp-hide" id="services_3">
                  <div class="content">
                    <div class="img">
                      <img src="/static/assets/images/services/3.jpg" alt="" />
                    </div>
                    <div class="des">
                      <h4>Лизинг</h4>
                      <p class="price">Авто. Техника. Оборудование. <span></span></p>
                      <p>
                        Мы сформируем выгодные предложения от проверенных поставщиков.
                        Наши дилеры и производители предлагают скидки на авто и технику в лизинг.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5">
            <div class="author-image-container">
              <div class="image-bg moving-effect"></div>
              <div class="image-area">
                <img src="/static/assets/images/author/masha2.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7">
            <div class="section-title left">
              <p class="sub-title">Наша цель</p>
              <h2>Совместное благосостояние</h2>
            </div>
            <p>
              "Мы работаем на совесть. Нам не стыдно посмотреть в глаза партнёрам."<br />
              - Баданина Мария Анатольевна "Самый Генеральный Директор ФК РОМАШКА"
            </p>
            <div class="d-flex align-center btn-container">
              <a href="#" class="cf-btn">Читать о нас</a>
              <div class="d-flex watch-video align-center">
                <a
                  href="https://www.youtube.com/watch?v=D_KO4j4U2rs"
                  class="play-btn"
                  ><i class="fa-solid fa-circle-play"></i
                ></a>
                <p>Видео о нас</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio">
      <div class="container">
        <div class="section-title">
          <p class="sub-title">Команда</p>
          <h2>
            Наши специалисты </br>
               знатоки своего дела.
          </h2>
        </div>
        <div class="portfolio-container">
          <div class="filter-btn">
            <a href="#" class="active" data-filter="*">Команда</a>
            <a href="#" data-filter=".garant">Гарантии</a>
            <a href="#" data-filter=".credit">Кредиты</a>
            <a href="#" data-filter=".lising">Лизинг</a>
            <a href="#" data-filter=".it">IT</a>
            <a href="#" data-filter=".director">Самый главный директор</a>
          </div>
          <div class="portfolio-items">
            <div class="item director popup">
              <a href="{% static '/assets/images/portfolio/T1.jpg' %}">
                <img src='static/assets/images/portfolio/T1.jpg' alt=""/></a>
            </div>
            <div class="item credit popup">
              <a href="{% static '/assets/images/portfolio/Т2.jpg' %}"
                ><img src="/static/assets/images/portfolio/Т2.jpg" alt=""
              /></a>
            </div>
            <div class="item garant popup">
              <a href="{% static '/assets/images/portfolio/Т4.jpg' %}"
                ><img src="/static/assets/images/portfolio/Т4.jpg" alt=""
              /></a>
            </div>
            <div class="item it popup">
              <a href="{% static '/assets/images/portfolio/I1.jpg' %}"
                ><img src="/static/assets/images/portfolio/I1.jpg" alt=""
              /></a>
            </div>
            <div class="item it popup">
              <a href="{% static '/assets/images/portfolio/I2.jpg' %}"
                ><img src="/static/assets/images/portfolio/I2.jpg" alt=""
              /></a>
            </div>
            <div class="item lising popup">
              <a href="{% static '/assets/images/portfolio/A2.jpg' %}"
                ><img src="/static/assets/images/portfolio/A2.jpg" alt=""
              /></a>
            </div>
            <div class="item lising popup">
              <a href="{% static '/assets/images/portfolio/A3.jpg' %}"
                ><img src="/static/assets/images/portfolio/A3.jpg" alt=""
              /></a>
            </div>
            <div class="item lising popup">
              <a href="{% static '/assets/images/portfolio/A4.jpg' %}"
                ><img src="/static/assets/images/portfolio/A4.jpg" alt=""
              /></a>
            </div>
            <div class="item lising popup">
              <a href="{% static '/assets/images/portfolio/A1.jpg' %}"
                ><img src="/static/assets/images/portfolio/A1.jpg" alt=""
              /></a>
            </div>
        </div>
      </div>
    </section>
    <section id="testimonials">
      <div class="container">
        <div class="testimonials-top">
          <div class="section-title left">
            <p class="sub-title">Отзывы</p>
            <h2>
              Что говорят <br />
              о нас клиенты
            </h2>
          </div>
          <div class="arrows">
            <a class="arrow arrow-left active">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a class="arrow arrow-right">
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="testimonial-sliders swiper">
          <div class="swiper-wrapper">
            <div class="slider-item swiper-slide">
              <div class="slider-item-content">
                <p>
                  Куплю жене сапоги!
                </p>
                <div class="author-info">
                  <div class="image-container">
                    <img src="/static/assets/images/testimonial/B1.jpg" alt="" />
                  </div>
                  <div class="author-info-content">
                    <h3>Леонид Голубков</h3>
                    <p class="complay-name">ООО "Лабеан"</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-item swiper-slide">
              <div class="slider-item-content">
                <p>
                  Утром я ничего не мог есть. Только выпил две чашки чаю с хлебом и маслом, с картошкой и сосиской.
                </p>
                <div class="author-info">
                  <div class="image-container">
                    <img src="/static/assets/images/testimonial/B2.jpg" alt="" />
                  </div>
                  <div class="author-info-content">
                    <h3>Виктор Драгунский</h3>
                    <p class="complay-name">ООО "АкваЛабеан"</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="client">
      <div class="container">
        <div class="bg-primary client-container">
          <div class="swiper client-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/assets/images/colaborators/absolutbank.png" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/assets/images/colaborators/akbars.png" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/assets/images/colaborators/alfabank.png" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/assets/images/colaborators/forabank.png" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/assets/images/colaborators/psbank.png" alt=""
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"
                  ><img src="/static/assets/images/colaborators/sberbank.png" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="blog">
      <div class="container">
        <div class="section-title">
          <p class="sub-title">Примеры проектов</p>
          <h2>
            Успешные проекты <br />
            вот некоторые из них
          </h2>
        </div>
        <div class="row blog-items">
          <div class="col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="blog-image-container">
                <a href="#blog-popup-1"
                  ><img src="/static/assets/images/blog/Z1.jpg" alt=""
                /></a>
              </div>
              <div class="blog-content">
                <p><span>ОАО "Крутой завод"</span></p>
                <h4>
                  <a href="#blog-popup-1"
                    >Срок сотрудничества: 8 лет</a
                  >
                </h4>
                <p>
                  Получено 200 гарантий. 30 кредитов. Парк техники в лизинг.
                </p>
              </div>
              <div id="blog-popup-1" class="mfp-fade mfp-hide">
                <div class="content">
                  <div class="img">
                    <img src="/static/assets/images/blog/Z1.jpg" alt="dora_img" />
                  </div>
                  <div class="des">
                    <p class="category">
                      <span>ОАО "Крутой завод"</span>
                    </p>
                    <h4>Гарантии по 44, 223 ФЗ. Коммерческие гарантии. Кредитование. Лизинг.</h4>
                    <p>
                      Лидер отрасли по крутости. Качает нефть, качает газ. Из недр земли копал алмаз.
                    </p>
                    <p>
                      Сотрудничаем 8 лет. Помогаем ждать трамвая.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="blog-image-container">
                <a href="#blog-popup-2"
                  ><img src="/static/assets/images/blog/Z2.jpg" alt=""
                /></a>
              </div>
              <div class="blog-content">
                <p><span>ЗАО "Ещё более крутой завод"</span></p>
                <h4>
                  <a href="#blog-popup-2"
                    >Срок сотрудничества: 10 лет</a
                  >
                </h4>
                <p>
                  Получено 800 гарантий. 90 кредитов. Поезд в лизинг.
                </p>
              </div>
              <div id="blog-popup-2" class="mfp-fade mfp-hide">
                <div class="content">
                  <div class="img">
                    <img src="/static/assets/images/blog/Z2.jpg" alt="dora_img" />
                  </div>
                  <div class="des">
                    <p class="category"><span>ЗАО "Ещё более крутой завод"</span></p>
                    <h4>Гарантии по 44, 223 ФЗ. Коммерческие гарантии. Кредитование. Лизинг.</h4>
                    <p>
                      Ещё более крутой лидер отрасли по крутости. Качает ещё больше нефть, качает ещё больше газ.
                      Из недр земли копал ещё больший алмаз.
                    </p>
                    <p>
                      Сотрудничаем 10 лет. Помогли дождаться трамвая.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="blog-item">
              <div class="blog-image-container">
                <a href="#blog-popup-3"
                  ><img src="/static/assets/images/blog/Z3.jpg" alt=""
                /></a>
              </div>
              <div class="blog-content">
                <p><span>ООО "Друг картошки"</span></p>
                <h4>
                  <a href="#blog-popup-3"
                    >Срок сотрудничества: 1 год
                  </a
                  >
                </h4>
                <p>
                  Получено 10 гарантий. Помощь в получении кредита на толокушку.
                </p>
              </div>
              <div id="blog-popup-3" class="mfp-fade mfp-hide">
                <div class="content">
                  <div class="img">
                    <img src="/static/assets/images/blog/Z3.jpg" alt="dora_img" />
                  </div>
                  <div class="des">
                    <p class="category">
                      <span>ООО "Друг картошки"</span>
                    </p>
                    <h4>
                      Коммерческие гарантии. Кредитование.
                    </h4>
                    <p>
                      Нам без разницы - крутой ли вы завод, или производитель пюрешки,
                      мы внимательно отнёсёмся к вашей рабочей задаче и поможем выбрать
                      оптимальный вариант её решения.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row align-center">
          <div class="col-lg-6">
            <div class="section-title left">
              <p class="sub-title">Контакты</p>
              <h2>Свяжитесь с нами</h2>
            </div>
            <ul class="info-details">
              <li>
                <h4>Почта</h4>
                <p>info@bg2b.ru</p>
              </li>
              <li>
                <h4>Адрес</h4>
                <p>
                  Ул. Зои и Александра Космодемьянских  <br />
                  д.26/21 стр.1
                </p>
              </li>
              <li>
                <h4>Телефон</h4>
                <p>0123456789</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <form action="#" class="contact-form">
              <div class="form-group">
                <input type="text" placeholder="Имя" />
              </div>
              <div class="form-group">
                <input type="email" placeholder="Почта" />
              </div>
              <div class="form-group">
                <textarea name="message" placeholder="Сообщение"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="cf-btn">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="copy-right-text">
          Разработано Финансовой Корпорацией Ромашка <a href="#"></a> © 2023
        </div>
      </div>
    </footer>
    <div class="progress">
      <svg
        class="progress-svg"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <div class="cursor"></div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/swiper-bundle.min.js"></script>
    <script src="/static/assets/js/imagesloaded-pkgd.min.js"></script>
    <script src="/static/assets/js/isotope-pkgd.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/counterup.min.js"></script>
    <script src="/static/assets/js/magnific-popup.min.js"></script>
    <script src="/static/assets/js/scroll-to-top.mini.js"></script>
    <script src="/static/assets/js/jquery.nav.min.js"></script>
    <script src="/static/assets/js/tilt.jquery.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>

